<form *ngIf="reactiveForm" [formGroup]="reactiveForm" (submit)="ngSubmit()">

  <tc-card [title]="'Log Visit'" >
    <div class="row boerder">
      <div class="col-sm-6">
        <tc-form-group>
          <tc-form-label style="display: inline !important; margin-right:1em ;">Select Patient</tc-form-label>
          
          <tc-select [placeholder]="'Select  Patient'" formControlName="patients" [options]="patientData"></tc-select>
        </tc-form-group>
     
        <div *ngIf="patients.invalid && (patients.touched||patients.dirty)" class="alert alert-danger">
          Select a patient
        </div>
      </div>
      <div class="col-sm-6">
        <tc-form-group>
          <tc-form-label style="display: inline !important; margin-right:1em ;">Provider</tc-form-label>
          
          <tc-select [placeholder]="'Provider'" formControlName="Provider" [options]="providerData" ></tc-select>
        </tc-form-group>
     
        <div *ngIf="Provider.invalid && (Provider.touched||Provider.dirty)" class="alert alert-danger">
          Select a provider
        </div>
      </div>
     
      
      <div class="col-sm-6">
        <tc-form-group>
          <tc-form-label style="display: inline !important; margin-right:1em ;">Plan</tc-form-label>
          
          <tc-select [placeholder]="'Plan'" formControlName="Plan" [options]="planData" ></tc-select>
        </tc-form-group>
     
        <div *ngIf="Plan.invalid && (Plan.touched||Plan.dirty)" class="alert alert-danger">
          Select a plan
        </div>
      </div>
      <div class="col-sm-2">

        <tc-form-group>
          <tc-form-label style="display: inline !important; margin-right:1em ;">Is Visit Emergency</tc-form-label>
          <tc-checkbox formControlName="emergency" ></tc-checkbox>
       

        </tc-form-group>

  </div>
      
  <div class="col-sm-6">
    <tc-form-group>
      <tc-form-label style="display: inline !important; margin-right:1em ;">Facility</tc-form-label>
      
      <tc-select [placeholder]="'Plan'" formControlName="facility" [options]="facilityData" ></tc-select>
    </tc-form-group>
 
    <div *ngIf="facility.invalid && (facility.touched||facility.dirty)" class="alert alert-danger">
      Select a plan
    </div>
  </div>
  <div class="col-sm-6">
    <tc-form-group>
      <tc-form-label style="display: inline !important; margin-right:1em ;">Visit Type</tc-form-label>
      
      <tc-select [placeholder]="'Visit Type'" formControlName="visittype" [options]="visitData" ></tc-select>
    </tc-form-group>
 
    <div *ngIf="visittype.invalid && (visittype.touched||visittype.dirty)" class="alert alert-danger">
      Select a plan
    </div>
  </div>
  </div>
 
</tc-card>

  <div>
    <button tc-button [size]="'md'" *ngIf="reactiveForm.valid" style="background-color: blue;">Save</button>

  </div>
  </form>
  