<form *ngIf="reactiveForm" [formGroup]="reactiveForm" (submit)="ngSubmit()">

<tc-card [title]="'Open  New Card'">
    <div class="row">
      <div class="col-sm-6">
        <tc-form-group>
          <tc-select [placeholder]="'Product'"  formControlName="Product" [options]="data"  (ngModelChange)="getCard($event)"></tc-select>
        </tc-form-group>
        <!-- <select formControlName="Product">
          <option [value]="d.value" *ngFor="let d of data"> {{d.value}}</option>
        </select> -->
        <div *ngIf="Product.invalid && (Product.touched||Product.dirty)" class="alert alert-danger">
          Select a product
        </div>
      </div>
      <div class="col-sm-6">
        <tc-form-group>
          <tc-input [placeholder]="'Card Name'" formControlName="cardname"></tc-input>
        </tc-form-group>
        <div *ngIf="cardname.invalid && (cardname.touched||cardname.dirty)" class="alert alert-danger">
          please provide a card name
        </div>
      </div>
      <div class="col-sm-6">
        <tc-form-group>
          <tc-textarea formControlName="Note" [placeholder]="'Note'"></tc-textarea>
        </tc-form-group>
        <div *ngIf="Note.invalid && (Note.touched||Note.dirty)" class="alert alert-danger">
          Please provide a Note
        </div>
      </div>
      <div class="col-sm-6">
        <span class="ml-2">Card No</span><span>: </span> <span *ngIf="cardNumber" class="text-primary" id="cardNumber">{{cardNumber}}</span>
      </div>
      <div class="col-sm-2">

        <tc-form-group>
          <tc-checkbox formControlName="checkboxField"   (click)="GetBranch()"></tc-checkbox>
          <tc-form-label style="display: inline !important; margin-left:1em ;">Change Branch</tc-form-label>

        </tc-form-group>

      


  </div>
       <div class="col-sm-4">
  <tc-form-group style="display: none;" id="branch">
    <tc-select [placeholder]="'Branch'" formControlName="branchs" [options]="branch" ></tc-select>
  </tc-form-group>
</div>
  </div>
  <div>
    <button tc-button [size]="'md'" *ngIf="reactiveForm.valid" style="background-color: blue;">Save</button>

  </div>
</tc-card>
</form>
