<div class="login-page">
  <div class="form">
  <form [formGroup]="skillForm" class="login-form" novalidate id="formId" (ngSubmit)="onSubmit($event)">
  

    <tc-card class="text-center">
      <tc-form-group>
        <tc-input
          [placeholder]="'First name:'"
          formControlName="firstname"
        ></tc-input>
        <div
          *ngIf="firstname.invalid && (firstname.dirty || firstname.touched)"
          class="alert alert-danger"
        >
          <div *ngIf="firstname.errors.required" class="text-danger">
            First Name is required.
          </div>
        </div>
      </tc-form-group>

      <tc-form-group>
        <tc-input
          [placeholder]="'Last name'"
          formControlName="lastname"
        ></tc-input>
        <div
          *ngIf="lastname.invalid && (lastname.dirty || lastname.touched)"
          class="alert alert-danger text-danger"
        >
          Last Name is required.
        </div>
      </tc-form-group>

      <tc-form-group>
        <tc-input
          [type]="'email'"
          [placeholder]="'Email'"
          [prefixIcon]="'icofont-at'"
          formControlName="email"
        ></tc-input>
        <div
          *ngIf="email.invalid && (email.dirty || email.touched)"
          class="alert alert-danger text-danger"
        >
          Valid Email is required and length shoild be more than eight
          character.
        </div>
      </tc-form-group>

      <tc-form-group>
        <tc-textarea
          [placeholder]="'Address'"
          formControlName="address"
        ></tc-textarea>
        <div
          *ngIf="address.invalid && (address.dirty || address.touched)"
          class="alert alert-danger text-danger"
        >
          Valid Address is required.
        </div>
      </tc-form-group>
      <tc-form-group>
        <tc-input
          [placeholder]="'Phone number'"
          formControlName="phoneNumber"
        ></tc-input>
        <div
          *ngIf="
            phoneNumber.invalid && (phoneNumber.dirty || phoneNumber.touched)
          "
          class="alert alert-danger text-danger"
        >
          Valid Phone Number is required.
        </div>
      </tc-form-group>

      <tc-form-group>
        <ejs-datepicker
          #ejDatePicker
          formControlName="AppointmentDate"
          [min]="minDate"
          name="daterangepicker"
          placeholder="Select a range"
          floatLabelType="Always"
        ></ejs-datepicker>
        <div
          *ngIf="
            AppointmentDate.invalid &&
            (AppointmentDate.touched || AppointmentDate.dirty)
          "
          class="alert alert-danger text-danger"
        >
          Enter DateRange in MM/dd/yyyy.
        </div>
      </tc-form-group>

      <tc-form-group>
        <tc-select
          [placeholder]="'service type'"
          formControlName="servicetype"
          [options]="Service"
          [filter]="true"
        ></tc-select>

        <div
          *ngIf="
            servicetype.invalid && (servicetype.dirty || servicetype.touched)
          "
          class="alert alert-danger text-danger"
        >
          <div *ngIf="servicetype.errors.required">
            Service Type is required.
          </div>
        </div>
      </tc-form-group>

      <tc-form-group>
        <tc-select
          [placeholder]="'State'"
          formControlName="states"
          [filter]="true"
          [options]="State"
          (ngModelChange)="LoadLocalGovernment($event)"
        ></tc-select>
        <div
          *ngIf="states.invalid && (states.dirty || states.touched)"
          class="alert alert-danger text-danger"
        >
          <div *ngIf="states.errors.required">
            States is required.
          </div>
        </div>
      </tc-form-group>
      <span  *ngIf="loading == true" class="spinner"></span>
      <tc-form-group *ngIf="LocalGovernment">
        <tc-select
          [placeholder]="'Local Government'"
          formControlName="localGovernment"
          [options]="LocalGovernment"
        ></tc-select>
        <div
          *ngIf="
            localGovernment.invalid &&
            (localGovernment.dirty || localGovernment.touched)
          "
          class="alert alert-danger text-danger"
        >
          <div *ngIf="localGovernment.errors.required">
            Local Government is required.
          </div>
        </div>
      </tc-form-group>

      <div *ngIf="skillForm.valid">
        <button
        >
          Send form
        </button>
      </div>
    </tc-card>
  </form>
</div>
</div>
