
<div class="login-page">
  <div class="form">
    <h3 style="text-align: center;">Login</h3>
    <form class="login-form" [formGroup]="loginForm" (submit)='OnSubmit()'>
      <tc-form-group>
        <tc-input [placeholder]="'Login'" formControlName="login"></tc-input>
      </tc-form-group>
      <tc-form-group>
        <tc-input [placeholder]="'Password'" [type]="'password'" formControlName="pass"></tc-input>
      </tc-form-group>
    
      <button>login</button>
     
    </form>
  </div>
</div>
