<div class="container">
  <div class="row">
    
      <div class="col-sm-4 col-lg-4 col-md-6 p-5">
          <h2 class="border-primary p-4" style="border-left: 2px solid blue  !important; ">About Us</h2>
          <h2>Welcome</h2>
          <h3>Wonder Service  is a professional cleaning  company.</h3>
          <p class="text-secondary" style="font-size: small;"> 
           Founded in 2019, we quickly built a reputation as a leading provider of commercial 
              and residential cleaning solution in the industry. Our solutions are designed 
              to solve the mild to heavy dirt management problems that individuals, 
              families and corporate organizations face.</p>
      </div>
      <div class="col-sm-4 col-lg-4 col-md-6  " ><img src="../../../assets/img/c1.png" class="img-fluid" alt=""></div>
      <div class="col-sm-4 mt-5 p-5 col-lg-4 col-md-6 mar" >
          <h2>Our History</h2>
          <p class="text-secondary">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Molestias fugiat ipsa vitae. Nostrum earum omnis sunt nisi,
               quis quas veritatis rerum eaque itaque ducimus,
                laudantium eligendi consequatur aperiam cum ipsa.</p>
      </div>
  </div>
  <div  class="text-center"><h2>Our Services</h2></div>
  
  
  <div class="row ">
      <div class="col-sm-4 con col-lg-4 col-md-6">
          <h3 class="text-primary text-center">Fumigation</h3>
  <!--Photo by Tedward Quinn on Unsplash-->
  <img src="assets/img/tedward-quinn-KXludRM_Q-E-unsplash.jpg"  class="img-fluid image myImg"  alt="Fumigation">
  <div class="middle">
      <div class="text">click image to view</div>
    </div>
      </div>
      <div class="col-sm-4 con col-lg-4 col-md-6">
          <h3 class="text-primary text-center">Commercial Cleaning</h3>
          <img src="/assets/img/claudio-schwarz-purzlbaum-k8Ux3LpC7dU-unsplash.jpg"  class="img-fluid image myImg" alt="commercial cleaning">
          <div class="middle">
              <div class="text">click image to view</div>
            </div>
      </div>
      <div class="col-sm-4 con col-lg-4 col-md-6" >
          <h3 class="text-primary text-center">After Party Cleaning</h3>
   
              <img  src="assets/img/bgimg.jpg"  class="img-fluid image myImg"  alt="after party" >
              <div class="middle">
                  <div class="text" >click image to view</div>
                </div>
   
      </div>
      <div class="col-sm-4 con col-lg-4 col-md-6" >
          <h3 class="text-primary text-center">Industrial cleaning</h3>
          
              <img  src="assets/img/2.jpg"  class="img-fluid image myImg"  alt="industrial cleaning" >
              <div class="middle">
                  <div class="text" >click image to view</div>
                </div>
   
      </div>
      <div class="col-sm-4 con col-lg-4 col-md-6" >
          <h3 class="text-primary text-center">Laundry</h3>
   
              <img  src="assets/img/ryoji-hayasaka-gkbAYJIMVDA-unsplash.jpg"  class="img-fluid image myImg"  alt="laundry" >
              <div class="middle">
                  <div class="text" >click image to view</div>
                </div>
   
      </div>
      <div class="col-sm-4 con col-lg-4 col-md-6" >
          <h3 class="text-primary text-center">Pool Cleaning</h3>
   
              <img  src="assets/img/bgimg.jpg"   class="img-fluid image myImg"  alt="pool cleaning" >
              <div class="middle">
                  <div class="text" >click image to view</div>
                </div>
   
      </div>
  </div>

  <div class="text-center m-5"><a href="" class="text-decoration-none">click more service </a></div>
  
     
  
  </div>
  <!-- <app-progressbar ></app-progressbar> -->
  