<!-- 
<div class="bg-dark rounded d-flex justify-content-between" style="background-color: black !important;opacity: 0.8;">
  <div class="text-white">
  <p>rlrkjnbskjrel3;fsnjrop3bigfklfm ,fds</p>
  </div>
</div>
<div class="container">
  <h1 class="text-center">Apple Like Content Section</h1> -->

  <!--  image left  -->
  <!-- <div class="row">
    <div class="col-md-6">

      <img src="https://upload.wikimedia.org/wikipedia/commons/6/6a/Imac_alu.png" alt="" class="w-100" />
    </div> -->
    <!-- /.col-md-6 -->
    <!-- <div class="col-md-6">

      <div class="row align-items-center h-100">
        <div class="col">
          <h1 class="display-3">Vertically Centered Text</h1>
          <p class="lead">Flexbox grids help you build some really nice layouts.
            <br /><br />
            <a href="" class="">Learn More</a>
          </p>

        </div>
      </div>

    </div> -->
    <!-- /.col-md-6 -->

  <!-- </div> -->
  <!-- /.row -->

  <!--  image right  -->
  <!-- <div class="row">
    <div class="col-md-6 order-md-6">

      <img src="https://upload.wikimedia.org/wikipedia/commons/6/6a/Imac_alu.png" alt="" class="w-100" />
    </div> -->
    <!-- /.col-md-6 -->
    <!-- <div class="col-md-6 order-md-1">

      <div class="row align-items-center h-100">
        <div class="col">
          <h1 class="display-3">Vertically Centered Text</h1>
          <p class="lead">Push and pull classes were added to change the order on desktop but still have the image before the text on mobile.
            <br /><br />
            <a href="" class="">Learn More</a>
          </p>

        </div>
      </div>

    </div> -->
    <!-- /.col-md-6 -->

  <!-- </div> -->
  <!-- /.row -->

<!-- </div> -->
<div id="landing-page-wrap">
	<section id="hero">
		<div class="content-container">
			<div class="hero-logo"><img src="assets/img/logo-removebg.png"></div>
			<div class="hero-title">
        <h1 style="color: white;">Best Cleaning Service</h1>
      </div>
			<h2 style="color: white;"> Your one-stop-service for <br>clean and healthly environment</h2>
		</div>
  </section>
  <div><p><b style="font-size: large;">Our Service</b></p></div>
  
	<section id="featured-products">
		<div class="content-container">
			
			<div id="os2" class="product-row" >
				<div class="product-image"><img src="assets/img/ryoji-hayasaka-gkbAYJIMVDA-unsplash.jpg" style="margin-top: 10em;"></div>
				<div class="product-text">
					<h4 class="product-title">Laundry</h4>
					<p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ut hic adipisci, voluptates voluptatem nobis eveniet, debitis ipsum itaque, enim incidunt inventore sapiente alias? Doloremque sequi temporibus, cupiditate error maxime reprehenderit.</p>
					<!-- <div class="product-buttons">
						<a href="http://bit.ly/2hHWmgN" target="_blank" id="OneStep2" class="gift-guide-2017 shop btn">Shop Now</a>
					</div> -->
				</div>
			</div>
			<div class="product-row">
				<div class="product-image"><img src="assets/img/tedward-quinn-KXludRM_Q-E-unsplash.jpg"></div>
				<div class="product-text">
					<h4 class="product-title">Fumigation</h4>
					<p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Reiciendis ipsam corporis eaque eum nobis minima laborum accusamus est. Magni veritatis fugit, repellat blanditiis ex dignissimos dolorum animi sed illo non.</p>
					<!-- <div class="product-buttons">
						<a href="http://bit.ly/2hqwtm2" target="_blank" id="Instant-Film" class="gift-guide-2017 shop btn">Shop Now</a>
					</div> -->
				</div>
			</div>
			
			<div class="product-row">
				<div class="product-image"><img src="assets/img/claudio-schwarz-purzlbaum-k8Ux3LpC7dU-unsplash.jpg"></div>
				<div class="product-text">
					<h4 class="product-title">Commercial Cleaning</h4>
					<p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Id qui amet obcaecati reiciendis minus tempora hic libero aliquid nisi eius repellendus earum harum et quidem, quo architecto distinctio autem reprehenderit.</p>
					<!-- <div class="product-buttons">
						<a href="http://geni.us/W3bI" target="_blank" id="POP" class="gift-guide-2017 shop btn">Shop Now</a>
					</div> -->
				</div>
			</div>
			<div class="product-row">
				<div class="product-image"><img src="http://cdn.agilitycms.com/polaroid/landing-pages/holiday-guide-2017/snap.png"></div>
				<div class="product-text">
					<h4 class="product-title">Share the Joy in a Snap</h4>
					<p>Snap, print and share the joys of the season in fun 2x3" prints with the Polaroid Snap Touch instant digital camera.</p>
					<div class="product-buttons">
						<a href="http://geni.us/tK6WBB" target="_blank" id="Snap-Touch" class="gift-guide-2017 shop btn">Shop Now</a>
					</div>
				</div>
			</div>
			<div class="product-row">
				<div class="product-image"><img src="http://cdn.agilitycms.com/polaroid/landing-pages/holiday-guide-2017/polaroid-zip.png"></div>
				<div class="product-text">
					<h4 class="product-title">Spread the Cheer</h4>
					<p>Customize, print and share good tidings instantly, all from your smartphone with the Polaroid Zip instant photoprinter.</p>
					<div class="product-buttons">
						<a href="http://geni.us/3fBp" target="_blank" id="Zip" class="gift-guide-2017 shop btn">Shop Now</a>
					</div>
				</div>
			</div>
			<div class="product-row">
				<div class="product-image"><img src="http://cdn.agilitycms.com/polaroid/landing-pages/holiday-guide-2017/polaroid-tv.png"></div>
				<div class="product-text">
					<h4 class="product-title">Merry & Bright</h4>
					<p>Kick off holiday movie marathons right with the brighter, picture perfect display of Polaroid HDTVs.</p>
					<div class="product-buttons">
						<a href="https://goto.target.com/c/251552/81938/2092?u=https%3A%2F%2Fwww.target.com%2Fs%3FsearchTerm%3Dpolaroid%2Bhdtvs" target="_blank" id="HDTVs" class="gift-guide-2017 shop btn">Shop Now</a>
					</div>
				</div>
			</div>
			<div class="product-row">
				<div class="product-image"><img src="http://cdn.agilitycms.com/polaroid/landing-pages/holiday-guide-2017/3d-pen.png"></div>
				<div class="product-text">
					<h4 class="product-title">Believe in Magic</h4>
					<p>Perfect for kids and kids at heart. Let your imagination soar as you bring festive creations to life with the Polaroid Draw 3D pen.</p>
					<div class="product-buttons">
						<a href="http://amzn.to/2kgSHaA" target="_blank" id="Draw-3D-Pen"  class="gift-guide-2017 shop btn">Shop Now</a>
					</div>
				</div>
			</div>
			<div class="product-row">
				<div class="product-image"><img src="http://cdn.agilitycms.com/polaroid/landing-pages/holiday-guide-2017/polaroid-frame.png"></div>
				<div class="product-text">
					<h4 class="product-title">Deck the Halls</h4>
					<p>Illuminate your mantle with holiday images or gift a string of memories to someone special with the Polaroid photo frame.</p>
					<div class="product-buttons">
						<a href="https://goto.target.com/c/251552/81938/2092?u=https%3A%2F%2Fwww.target.com%2Fp%2Fdistressed-wood-photo-frame-string-led-light-boxes-black-polaroid%2F-%2FA-52530136" target="_blank" id="Photo-Frame" class="gift-guide-2017 shop btn">Shop Now</a>
					</div>
				</div>
			</div>
			<div class="product-row">
				<div class="product-image"><img src="http://cdn.agilitycms.com/polaroid/landing-pages/holiday-guide-2017/motomod-2.png"></div>
				<div class="product-text">
					<h4 class="product-title">Snap, Print & Share Anywhere</h4>
					<p>Turn your moto z into a super-portable Polaroid camera, complete with a physical photo capture button. Shoot pics in the moment or select your favorite shots on social media, add fun filters, then print–right from your phone.</p>
					<div class="product-buttons">
						<a href="https://www.motorola.com/us/products/moto-mods/polaroid-insta-share-printer" target="_blank" id="Moto-Z" class="gift-guide-2017 shop btn">Shop Now</a>
					</div>
				</div>
			</div>
			<div class="product-row">
				<div class="product-image"><img src="http://cdn.agilitycms.com/polaroid/landing-pages/holiday-guide-2017/apparel.png"></div>
				<div class="product-text">
					<h4 class="product-title">Arrive in Style</h4>
					<p>Upgrade your look this season with the classic design and vintage feel of Polaroid apparel.</p>
					<div class="product-buttons">
						<a href="http://amzn.to/2zMMkC4" target="_blank" id="Apparel" class="gift-guide-2017 shop btn">Shop Now</a>
					</div>
				</div>
			</div>
		</div>
		
	</section>
	<section id="cta">
		<div class="content-container">
			<a href="http://geni.us/kkJo8" target="_blank" id="CTA-Amazon" class="gift-guide-2017 cta-btn btn">Shop Polaroid on Amazon</a>
		</div>
	</section>
</div>