
<div id="landing-page-wrap">
	<section id="hero">
		<div class="content-container">
			<div class="hero-logo"><img src="assets/img/logo-removebg.png"></div>
			<div class="hero-title">
        <h1 style="color: white;">Best Cleaning Service</h1>
      </div>
			<h2 style="color: white;"> Your one-stop-service for <br>clean and healthly environment at affordable rate</h2>
		</div>
  </section>
  <div class="text-center"> <button
	tc-button
	[view]="'accent'"
	(click)="openModal(modalBody, 'Book for our service', modalFooter)"
  >Order for our service</button></div>
  <div class="text-center" style="margin-top: 19em;"><h2>Our Services</h2></div>
  
	<section id="featured-products">
		<div class="content-container">
			
			<div id="os2" class="product-row" >
				<div class="product-image"><img src="assets/img/ryoji-hayasaka-gkbAYJIMVDA-unsplash.jpg" ></div>
				<div class="product-text">
					<h4 class="product-title">Laundry</h4>
					<p>By extension, our service includes washing and ironing of clothes, handled and well packages by experts and specialists. Cottons, fabrics, linen or any other material.
						Clothes like; native wear, office wear, wedding gown, suits, bed spread, blanket, curtain, etc.
						</p>
					
				</div>
			</div>
			<div class="product-row">
				<div class="product-image"><img src="assets/img/tedward-quinn-KXludRM_Q-E-unsplash.jpg"></div>
				<div class="product-text">
					<h4 class="product-title">Fumigation</h4>
<p>Our service also provides special package of disinfecting,
	 purifying and getting rid of harmful substances in the environment with fumes of chemical that are not harmful to human health.</p>					
				</div>
			</div>
			
			<div class="product-row">
				<div class="product-image"><img src="assets/img/claudio-schwarz-purzlbaum-k8Ux3LpC7dU-unsplash.jpg"></div>
				<div class="product-text">
					<h4 class="product-title">Commercial Cleaning</h4>
					<p>Our service renders a professional commercial cleaning by doing thorough cleaning of your office, home, hotel, work premises, etc.
						We scrub floors, clean windows in and out, wash toilet and kitchen, etc.
						</p>
				</div>
			</div>
	
			<div class="product-row">
				<div class="product-image"><img src="assets/img/olumide-bamgbelu-edUFT7_OHQ0-unsplash.jpg"></div>
				<div class="product-text">
					<h4 class="product-title">Estate Cleaning</h4>
					<p>environment with fumes of chemical that are not harmful to human health.</p>
				</div>
			</div>
			<div class="product-row">
				<div class="product-image"><img src="assets/img/bgimg.jpg"></div>
				<div class="product-text">
					<h4 class="product-title">Event Cleaning</h4>
					<p>We ensure your small, medium and large event is clean and hygienic before, during, and after party/ event. 
						Catering areas, toilets, stages are other areas in the event are properly taken care of.
						</p>
				</div>
			</div>
			
		</div>
		
	</section>
	<section id="cta">
		<div class="content-container">
			<div class="text-center"> <button
				tc-button
				[view]="'accent'"
				(click)="openModal(modalBody, 'Book for our service', modalFooter)"
				id="CTA-Amazon" class="gift-guide-2017 cta-btn btn" >Order for our service</button></div>
		</div>
	</section>
</div>
<ng-container>
	<ng-template #modalBody>
	  <app-booking (complete)="getValue($event)"></app-booking>

	</ng-template>
  
	<ng-template #modalFooter>
	  <div class="actions justify-content-end">
		<button tc-button [type]="'button'" [view]="'error'" (click)="closeModal()">Cancel</button>
	  </div>
	</ng-template>
  </ng-container>