
<div id="landing-page-wrap">
	<section id="hero">
		<div class="content-container">
			<div class="hero-logo"><img src="assets/img/logo-removebg.png"></div>
			<div class="hero-title">
        <h1 style="color: white;">Best Cleaning Service</h1>
      </div>
			<h2 style="color: white;"> Your one-stop-service for <br>clean and healthly environment at affordable rate</h2>
		</div>
  </section>
  <div class="text-center"><a href="#" class="btn btn-lg btn-primary ">Order for our service </a></div>
  <div class="text-center" style="margin-top: 19em;"><h2>Our Services</h2></div>
  
	<section id="featured-products">
		<div class="content-container">
			
			<div id="os2" class="product-row" >
				<div class="product-image"><img src="assets/img/ryoji-hayasaka-gkbAYJIMVDA-unsplash.jpg" ></div>
				<div class="product-text">
					<h4 class="product-title">Laundry</h4>
					<p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ut hic adipisci, voluptates voluptatem nobis eveniet, debitis ipsum itaque, enim incidunt inventore sapiente alias? Doloremque sequi temporibus, cupiditate error maxime reprehenderit.</p>
					
				</div>
			</div>
			<div class="product-row">
				<div class="product-image"><img src="assets/img/tedward-quinn-KXludRM_Q-E-unsplash.jpg"></div>
				<div class="product-text">
					<h4 class="product-title">Fumigation</h4>
					<p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Reiciendis ipsam corporis eaque eum nobis minima laborum accusamus est. Magni veritatis fugit, repellat blanditiis ex dignissimos dolorum animi sed illo non.</p>
					
				</div>
			</div>
			
			<div class="product-row">
				<div class="product-image"><img src="assets/img/claudio-schwarz-purzlbaum-k8Ux3LpC7dU-unsplash.jpg"></div>
				<div class="product-text">
					<h4 class="product-title">Commercial Cleaning</h4>
					<p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Id qui amet obcaecati reiciendis minus tempora hic libero aliquid nisi eius repellendus earum harum et quidem, quo architecto distinctio autem reprehenderit.</p>
					
				</div>
			</div>
			<div class="product-row">
				<div class="product-image"><img src="assets/img/nuno-silva-Rcsa_Rg77Tc-unsplash.jpg"></div>
				<div class="product-text">
					<h4 class="product-title">Industrial Cleaning</h4>
					<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Maxime ab quaerat, ad quibusdam molestias nesciunt architecto recusandae molestiae obcaecati saepe ipsam officia suscipit aliquid quod minima labore. Harum, iste tenetur?</p>
					
				</div>
			</div>
			<div class="product-row">
				<div class="product-image"><img src="assets/img/olumide-bamgbelu-edUFT7_OHQ0-unsplash.jpg"></div>
				<div class="product-text">
					<h4 class="product-title">Estate Cleaning</h4>
					<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Recusandae consectetur adipisci et debitis. Natus iure illum quae, suscipit eius exercitationem, corrupti voluptate eum officiis, nisi animi consectetur consequatur adipisci. Iusto.</p>
					
				</div>
			</div>
			<div class="product-row">
				<div class="product-image"><img src="../../../assets/img/bgimg.jpg"></div>
				<div class="product-text">
					<h4 class="product-title">Event Cleaning</h4>
					<p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Tempora, amet. Voluptates sed, fuga dolore porro, reprehenderit molestias labore maiores dolores repellendus laboriosam, atque quos? Aperiam sunt explicabo quasi at illo!</p>
					
				</div>
			</div>
			
		</div>
		
	</section>
	<section id="cta">
		<div class="content-container">
			<a href="#"  id="CTA-Amazon" class="gift-guide-2017 cta-btn btn">Order for our service today</a>
		</div>
	</section>
</div>