
<div class="row bg-dark progress p-5">

  <div class="col-sm-4">
      <h3 class="text-center text-white">Satisfied</h3>
  <ejs-progressbar  id='tdeterminate' type='Circular' height='100' progressThickness=8  [labelStyle]='labelStyle'  value=99 progressColor='#FFFF00'  [showProgressValue]='showProgressValue' [animation]='animation'>
   </ejs-progressbar>
  </div>
  <div class="col-sm-4">
      <h3 class="text-center text-white">Consistency</h3>
   <ejs-progressbar  id='indeterminate' type='Circular' height='100' progressThickness=8  [labelStyle]='labelStyle'  value=99 progressColor='#00FF00'  [showProgressValue]='showProgressValue' [animation]='animation'>
  </ejs-progressbar>
  </div>
  <div class="col-sm-4">
      <h3 class="text-center text-white">Delivery</h3>
  <ejs-progressbar  id='determinate' type='Circular' height='100' progressThickness=8  [labelStyle]='labelStyle'  value=100 progressColor='#0000FF'  [showProgressValue]='showProgressValue' [animation]='animation'>
  </ejs-progressbar>
  </div>
  </div>
  
  